name: Deploy Backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/TacMed_GitHub_Deploy_Role
        aws-region: eu-central-1

    - name: Zip Backend
      run: |
        cd backend
        zip -r function.zip .

    - name: Deploy to Lambda
      run: |
        aws lambda update-function-code --function-name TacMed_Backend --zip-file fileb://backend/function.zip
